@media (max-width:768px){
.sticky-head{
	top:45px !important;
}
.scoreline-header::after {
    border-width: 0;
}
.team-desc {
  padding:20px;
}
.scoreline-portfolio .port-btn .btn {
    padding: 5px 22px;
	    margin: 5px;
}
.widget-text {
    margin: 15px 0;
}
.team-hover::before {
    border-right: 310px solid transparent;
    width: 100%;
}
.navbar-nav  > li > a {
    font-size: 12px;
    padding: 20px 8px;
}
.scoreline-test-box .img-responsive {
    height: 60px;
    width: 50px;
}
.scoreline_callout_area{
	text-align:center;
}
.scoreline_callout_area .button{
    padding: 31px 0;
}
.scor_service{
	margin:10px 0;
}
.list-inline li {
    padding:0;
    margin: 10px 0;
}
.scoreline-test-box {
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
}
.service-section-detail-left .icon-left {
    padding: 30px 30px;
}
.swiper-container3 .carousel-caption h1 {
    font-size: 28px;
}
.swiper-container3{
height:auto;	
}
.hd-sc {
    padding: 0px 0 20px 0;
    position: relative;
    float: right;
    margin: 0;
	top:8px;
}
.about-us-img {
    margin-left: 42%;
}
.fun-facts {
    padding:0;
    margin: 5px 0;
}
.cloud_callout_area .button{
	margin:30px 0;
}
.callout_text{
    text-align: center;
    bottom: 22px;
}
.footer_area{
	text-align:center;
}
.scoreline1-blog-post{
	margin:30px 0;
}
.port_2colm .btn, .port_3colm .btn {
 margin: 10px 10px;
    width: 34%;
}
.swiper-container .carousel-caption{
	top:15%;
}
.carousel-caption {
    top: 30%;
}
.carousel-caption {
    right:0%;
    left: 0%;
}
.about-team-top{
	margin:20px 0;
}
.swiper-button-next, .swiper-button-prev {
    top: 38%;
}
.scoreline-header .social-icons {
    padding: 0 15px;
}
.scoreline-copyryt .social-icons {
float: none !important;
}
}

@media (max-width:767px){
.navbar-nav>  li > a {
    padding: 5px 10px;
}
.navbar-nav > li  >a {
    font-size: 16px;
    padding: 20px 9px;
}
.navbar {
    z-index: 11;
}
.header-social > a{
	float:none;
}
}
@media (min-width:767px){
	.sticky-head{
		top:0;
	}
}

@media (max-width:480px){
.scoreline-header h1{
margin-bottom: 5px !important;
text-align: center;
}
.scoreline-header::after {
    border-width: 0;
}
.sticky-head{
	top:0 !important;
}
.swiper-container .carousel-caption h1 {
    font-size: 16px;
}
.swiper-container .carousel-caption h2,
.swiper-container .carousel-caption .btn{
	display:none;
}
.team-hover::before {
    border-right: 272px solid transparent;
}
.scoreline-header .social-icons {
    float: none;
	display:block;
    margin: 10px 0 0 42px;
    padding: 0 0 20px 0;
}
.social-icons {
    position: relative !important;
	z-index:0 !important;
	margin: 10px 0;
}
.header-social{
	z-index:0 !important;
}
.header-social a{
	float:none !important;
	margin-right:4px;
}
.header img{
	width:100%;
	height:90px;
}
.header-social{
	text-align:center !important;
	    padding: 10px;
}
.navbar-collapse .dropdown-menu {
position: relative ;
width: 100% !important;
left:0;
}
.dropdown-menu:hover .caret {
    transform: rotate(0deg);
}
.caret {
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px dashed;
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.navbar-nav>li>.dropdown-menu {
    margin-bottom: 20px;
}
.nav> li >a {
    padding: 10px 5px !important;
}
.scoreline-callout h2 {
    font-size: 22px;
}
.scoreline-callout .btn a {
    font-size: 20px;
}
.scoreline-header .social-icons a:hover{
background-color:transparent;
color:#fff;
border: 1px solid #fff;
}
.about-team-detail:hover h3{
opacity:0;
}
.about-us-tital h3 {
    font-size: 14px;
}
.scoreline1-services{
	text-align:center;
}
.scoreline_callout_area .button {
    padding: 20px;
    text-align: center;
}
.scoreline_aboutus2_pics{
	margin:30% 0;
}
.about-us-img {
    margin-left: 34%;
}
.swiper-container3 .carousel-caption h2 {
    display: none;
}
.swiper-container3 .carousel-caption {
    top: 10%;
}
.swiper-container3 .carousel-caption h1 {
    font-size: 20px;
}
.scoreline1_callout_area .callout_text{
	text-align:center;
}
.ser-text {
    font-size: 14px;
}
.highlight {
  overflow:visible;
}
.swiper-button-next, .swiper-button-prev {
    right: 0px;
    top: 50%;
}
}